* {  margin: 0px; 
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold
  }
  
    input, textarea {
      background-color: white;
      }
  
    p {
      margin-top: 10px;
    }
  
  .form input {
    display: block;
    margin-bottom: 20px;
  }
  
  button { background-color: white; }
  
  .message { height: 100px; }
  
  h3 { margin: 40px;}
  
  h4 { margin-top: 40px;}
  
  ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
    text-underline-offset: 10px;
    flex-wrap: wrap;
  }
  
  .center {
  display: flex;
  justify-content: center;
  padding: 28px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 248, 248);
  }
  
  .centerPages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .rent, .sale {
    border-style: dashed;
      border-color: rgb(255, 191, 0);
      font-size: 35px;
      border-width: 0.2em;
      margin: 10px;
      width: 180px;
      background: white;
  }

  .filterContainer {
    display: flex;
    border-style: dashed;
    border-width: 0.5em;
    border-color: rgb(255, 191, 0);
    margin: 20px;
    padding: 10px;
    background: white;
    gap: 4px;
    height: 142px;
  }
  
  .priceSym {
    font-size: 55px;
    color:  rgb(255, 191, 0);
  }
  
  .filterBox {
    display: grid;
    width: 130px;
    align-items: start;
    justify-items: center;
    justify-content: space-evenly;
  }

  .headerSearchInline {
    display:flex; 
    flex-direction:row;
    background-color: rgb(248, 248, 248);
    border: 20px solid;
    border-color: rgb(248, 248, 248);
    justify-content: center;
    gap: 40px;
}

.propertyListings {
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 56%;
    justify-content: center;
}

.PropertyTile {
    border: solid;
    border-color: orange;
    border-radius: 14px;
    background-color: white
}

.PropertyTile img {
    border-radius: 10px;
}

.propertySearchInline {
display: flex;
background-color: rgb(248, 248, 248);
justify-content: space-evenly;
}

.propertyText {
  margin: 17px;
}

.propertyText h2 {
  font-size: 30px;
}

.propertyText p {
  font-size: 16px;
}

.imgSpan {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
}

.inline {
  color: #f29c00;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.loginForm, .signupForm {
  padding: 45px;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.submitButton button {
color: orange;
margin: 60px;
}

.filterBox select {
  border: none;
  margin: 10px;
}

.signLogLinks {
  margin-left: 15px;
  font-size: 20px;
}

.signLogLinks a {
  font-size: 20px;
  color: black;
  text-decoration-color: darkorange;
  text-decoration-thickness: 4px;
  text-decoration-style: solid;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.labelInput label {
  font-size: 18px;
  margin-bottom: 5px;
}

.signupForm h2 {
  font-size: 25px;
  color: darkorange;
  margin: 10px;
}

.loginForm h2 {
  font-size: 25px;
  color: darkorange;
  margin: 10px;
}

.footer {
  display: flex;
  background-color: rgb(248, 248, 248);
  justify-content: center;
  height: 200px;
  align-items: center;
  color: orange;
}

.propertySolo {
  gap: 70px;
  display: flex;
  background-color: rgb(248, 248, 248);
  justify-content: center;
}

.mainPropertyImg {
  border: solid;
  border-color: darkorange;
  border-radius: 14px;
}

.propertyPageText {
  gap: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.propertyPageText h2 { font-size: 50px; }

.propertyPageText p { font-size: 20px; 
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  font-weight: 500;
}

.imgSpan { font-size: 20px; }

.mapContact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 80px;
  background-color: rgb(248, 248, 248);
  flex-direction: row-reverse;
}

.map {border: 0px;}

.checkboxes{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

